<%- include header %>

<div id="slider"></div>

<div id="content">
    <ul>
        <% for(var i = 0; i<data.length; i++) { %>
        <li><%= data[i].src %></li>
        <% } %>
    </ul>
</div>

<%- include footer %>