<%- include header %>

<div id="content">
    <ul>
        <% for(var i = 0; i<data.length; i++) { %>
        <li><img src=" <%= data[i].src %> " alt=""/><div class="vertical"></div></li>
        <% } %>
    </ul>
</div>

<%- include footer %>